<h1><%= @page_title%></h1>
<p>Welcome to  the Bookstore ! </p>

<p> This is a ruby on rails application for adding, managing books relevant for all programmers, code savvy people. This platform provides a wide range of books that they can view and using this application, they can buy the books of their choice. </p>

